@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
	font-family: 'Ubuntu', sans-serif;
	transition: all 0.3s;
}

html {
	background-color: beige;
	background-image: url('noise.png');
	background-size: 250px;
	height: 100%;
	overflow: auto;
}

body {
	background-color: transparent;
	margin-top: 60px;

	height: 100vh;
}

body > h1,body > p {
	text-align: center;
}


aside {
	float: right;
	width: 300px;

	border-left: 1px grey solid;
	border-bottom: 1px grey solid;
	border-bottom-left-radius: 10px;

	box-shadow: -2px 5px 5px rgba(0, 0, 0, 0.283);

	padding: 5px;
	margin-bottom: 10px;
	display: block;

	background-image:linear-gradient(0deg, rgba(0, 0, 0, 0.217), rgba(0, 0, 0, 0));
}
aside:hover {
	width: 320px;
}
aside img, aside iframe {
	width: 300px;
	/* margin-left: calc(100% - 300px); */

	border-radius: 5px;

	background-color: white;

	box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.48);
}

aside p {
	font-size: small;
}


main {
	border: 1px solid black;
	padding: 10px;
	width: calc(100vw - 60px);
	height: fit-content;
	background-color: rgba(255, 255, 255, 0.575);

	overflow: auto;

	border-radius: 5px;

	box-shadow: 5px 10px 10px 0 rgba(0, 0, 0, 0.322);
}

nav {
	position: fixed;
	top: 5px;
	left: 5px;
	width: calc(100vw - 30px);
	border: 1px blue solid;
	border-radius: 5px;
	background-color: rgba(169, 204, 250, 0.308);
	backdrop-filter: blur(5px);
	box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.274),
		  inset 0px 0px 20px 0px rgba(156, 156, 255, 0.658);
}

nav ul {
	list-style-type: none;
	padding: 10px;
	margin: 0;
}

nav li {
	display: inline;
}
nav li::after {
	content: "|";
	padding: 0 2px 0 5px;
}
nav li:last-child::after {
	content: "";
}

table, th, td {
	border: 1px black solid;
	background-color: rgb(227, 236, 249);
	background-image: radial-gradient(rgb(191, 187, 220) 0%, transparent 30%);
	background-size: 5% 25%;
	background-repeat: repeat;
	padding: 4px;
	border-radius: 3px;
}

th {
	border-bottom: 2px black double;
}

table {
	box-shadow: -2px 2px 5px black;
	background-color: lightblue;
}

.images img {
	width: 300px;
	border: 1px solid black;
	border-radius: 5px;

	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.images img:hover {
	transform: translateX(20px) scale(1.02) rotate(2deg);
	box-shadow: 2px 10px 10px rgba(0,0,0,0.2);
}
